{% extends  'admin/admin.html.twig' %}

{% block title %}

    Toutes les recettes

{% endblock title %}


{% block body %}

 
<a class="btn btn-outline-primary btn-sm" href="{{ path('admin.recipe.create') }}">
    Ajouter une recette 
</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th style="width: 200px;">Actions</th>
        </tr>
    </thead>
    {% for recipe in recipes %}
    <tr>
        <td>
            <a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">
                {{ recipe.title }}
            </a>
        </td>
        <td>
                {{ recipe.category.name }}
        </td>
        <td>
            <div class="d-flex gap-1">
                <a class="btn btn-primary btn-sm" href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">
                    Edit
                </a>
                <form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-sm" type="submit">DELETE</button>
                </form>
            </div>
        </td>
    </tr>
   
    {% endfor %}
</table>
{% endblock body %}