{% extends 'base.html.twig' %}

{% block title %}

    Recette : {{ recipe.title}}

{% endblock title %}

{% block body %}


    <h1>{{ recipe.title }}</h1>

    {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.title) }}
            {{ form_row(form.slug) }}
        </div>
        <div class="content_input">
            {{ form_row(form.content) }}
        </div>
       
        {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock body %}