{% extends  'base.html.twig' %}

{% block title %}

Recette : {{ recipe.title}}

{% endblock title %}


{% block body %}

<h1>{{ recipe.title }}</h1>

<br>

<h2>
    Temps de préparation : {{ recipe.duration }}min
</h2>

<br>
Recette créée le : {{ recipe.createdAt|date }}
<br>
Recette modifiée le : {{ recipe.updatedAt|date }}

<br><br>
<h3>Préparation :</h3>
<br>
<p>
    {{ recipe.content | nl2br }}
</p>
{% endblock body %}